.cta {
  color: #283643;
  font-size: 24px;
  font-weight: 900;
  font-family: "Rokkitt", serif;
  text-transform: uppercase;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.cta:hover {
  cursor: pointer;
  background-color: #f6f6f6;
}
