* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  padding: 40px;
}

.navMenu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 456px;
}

li {
  display: inline-block;
}

.iconNavMenu {
  display: none;
}

.imageLogo {
  height: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageArrow {
  width: 40px;
  height: 140px;
  animation: trans 2s infinite;
}

@keyframes trans {
  0% {
    transform: translateY(-16px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pitch {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin: 72px 0;
  font-family: "Rokkitt", serif;
  text-align: center;
}

.section {
  display: flex;
}

.reverse {
  flex-direction: row-reverse;
}

.direction {
  flex-direction: column;
  align-items: center;
}

.custom {
  padding: 200px 100px;
}

.title {
  font-size: 32px;
  color: #acacae;
  text-transform: uppercase;
  text-align: center;
}

.imageGallery {
  width: 25vw;
  height: 600px;
  object-fit: cover;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  background-color: #90d4c5;
}

.sectionSocialMedia {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 80px 0;
}

.linkSocialMedia {
  text-decoration: none;
  color: #276e60;
  position: relative;
}

.linkSocialMedia:hover {
  cursor: pointer;
  text-decoration: underline;
}

.iconSocialMedia {
  display: flex;
  justify-content: space-between;
  width: 160px;
}

@media (max-width: 375px) {
  .container {
    height: 668px;
  }

  .nav {
    padding: 24px;
  }

  .navMenu {
    display: none;
  }

  .iconNavMenu {
    display: inline-block;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pitch {
    font-size: 40px;
  }

  .imageArrow {
    width: 32px;
    height: 120px;
  }

  .section {
    flex-direction: column;
  }

  .reverse {
    flex-direction: column;
  }

  .custom {
    padding: 80px 24px;
  }

  .title {
    font-size: 24px;
  }

  .imageGallery {
    width: 100vw;
    height: 280px;
  }

  .sectionSocialMedia {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100px;
    margin: 40px 0;
  }

  .iconSocialMedia {
    display: flex;
    justify-content: space-between;
    width: 280px;
  }
}
